.header {
    padding: 1rem 2rem
}

.profile-pic {
    width: 3rem;
    height: 3rem;
}

.menu-padding {
    padding: 2rem;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 1rem 3rem
    }

    .menu-icon {
        display: none !important;
    }

    .list {
        display: flex !important;
    }
}