.about-me-content {
    padding: 0rem 0rem 1rem 0rem;
}

.skill-list-container {
    flex-wrap: wrap;
    gap: 10px;
    max-width: 520px;
}

.skill-list {
    padding: 0.5rem 1rem;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
}